<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    h1 {
      text-align: center;
    }
    h4 {
      text-align: center;
    }
    form{
        margin-left: 450px;
    }
    form button{
        margin-left: 130px;
    }
   body{
    background-color: #cefad0;
   }
  </style>
  <body>
    <h1>Welcome to your Personality Test</h1>
    <h4>
      Instruction: You will answer a list of questions. And then you will see your
      personality type and the corresponding analysis & suggestions. <br>The expect
      completion time for the quiz is about 5 minutes.
    </h4>
    <form method="post">
      <ol>
        <li>
          Your decisions are based on?<br>
          <input type="radio" name="1" value="a" class='a'/>
          <label for="a">Logic & an outcome that makes sense</label><br />
          <input type="radio"  name="1" value="b" />
          <label for="b">Values & an outcome that feels right</label><br />
        </li>
        <br>
        <li>
          Before the weekend you usually?<br>
          <input type="radio"  name="2" value="a" class='a'/>
          <label for="a">Have palns made</label><br />
          <input type="radio"  name="2" value="b" />
          <label for="b">Hope to be spontaneous</label><br />
        </li>
        <br>
        <li>
            What interests you more?<br>
            <input type="radio" name="3" value="a" class='a' />
            <label for="a">What's in front of you</label><br />
            <input type="radio" name="3" value="b" />
            <label for="b">What can be imagined</label><br />
          </li>
          <br>
          <li>
            You pay particular attention to?<br>
            <input type="radio" name="4" value="a" class='a'/>
            <label for="a">Details, realities, past and present</label><br />
            <input type="radio" name="4" value="b" />
            <label for="b">Insights, patterns, and possibilities</label><br />
          </li>
          <br>
          <li>
            As a deadline appraoches you?<br>
            <input type="radio" name="5" value="a" class='a'/>
            <label for="a">Work in spurts to finish</label><br />
            <input type="radio" name="5" value="b" />
            <label for="b">Work consistently to finish</label><br />
          </li>
          <br>
          <li>
            Interacting with strangers?<br>
            <input type="radio" name="6" value="a" class='a'/>
            <label for="a">Wears me out</label><br />
            <input type="radio" name="6" value="b" />
            <label for="b">Energizes me</label><br />
          </li>
          <br>
          <li>
            It's worse to?<br>
            <input type="radio" name="7" value="a" class='a'/>
            <label for="a" class='a'>Have your head in the clouds</label><br />
            <input type="radio" name="7" value="b" />
            <label for="b">Perform the same routine every day</label><br />
          </li>
          <br>
          <li>
            With people are you usually more?<br>
            <input type="radio" name="8" value="a" class='a'/>
            <label for="a" class='a'>firm than gentle</label><br />
            <input type="radio" name="8" value="b" />
            <label for="b">gentle than firm</label><br />
          </li>
          <br>
          <li>
            You are more likely to enjoy??<br>
            <input type="radio" name="9" value="a" class='a'/>
            <label for="a">Team sports</label><br />
            <input type="radio" name="9" value="b" />
            <label for="b">Individual sports</label><br />
          </li>
          <br>
          <li>
            I prefer my life to be?<br>
            <input type="radio" name="10" value="a" class='a' />
            <label for="a">Organized and planned</label><br />
            <input type="radio" name="10" value="b" />
            <label for="b">Flexible and spontaneous</label><br />
          </li>
          <br>
          <li>
            When considering a difficult choice involving people you are<br>
            <input type="radio" name="11" value="a" class='a'/>
            <label for="a">Affected by the circumstances</label><br />
            <input type="radio" name="11" value="b" />
            <label for="b">Fact-based</label><br />
          </li>
          <br>
          <li>
            When your cell phone rings do you?<br>
            <input type="radio" name="12" value="a" class='a'/>
            <label for="a">Answer it immediately</label><br />
            <input type="radio" name="12" value="b" />
            <label for="b">Ignore it or check who is calling</label><br />
          </li>
      </ol>
      <button>Submit</button>
      
    </form>

  </body>
</html>
